* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 15px 0;
    background-color: #6222CC;
}
#logo {
    margin-left: 5%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.nav-links .login-btn {
    background: #fba504;
    padding: 8px 15px;
    border-radius: 5px;
    color: #fff;
}

.hero-section {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('event-background.jpg') no-repeat center center/cover;
}

.hero-content {
    text-align: center;
    color: #6222CC;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn-primary {
    background: #6222CC;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.events-section {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.events-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.event-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event-card {
    background: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: 250px;
}

.event-card h3 {
    font-size: 24px;
}

.btn-secondary {
    background: #fba504;
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.profile-section {
    padding: 40px 0;
    background-color: #fff;
    text-align: center;
}

.profile-container {
    width: 60%;
    margin: 0 auto;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
}

.profile-container label {
    font-size: 16px;
}

.profile-container input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
}
